*.out
2d_dataset_fixed_positions/
__pycache__/
2d_dataset_fixed_positions_1000/
4_shapes_same_dataset_1000/
SimSun.ttf
whatsup/
*.zip
*.tar.gz
2d_dataset_right_large_1000/
2d_dataset_left_large_1000/
plots/
*.png
bar_plots